<h1>POS</h1>

<h3>Add a product:</h3>
<form action='/add' method='post'>
  <label for="name">Product Name</label>
  <input id="name" name="name" placeholder = "e.g. Grenade"type='text'>

  <label for="price">Price</label>
  <input id="price" name="price" placeholder = "e.g. 500"type='text'>

  <button type="submit">Add product</button>
</form>

<form action="/make_purchase" method = "post">
<table class="table table-striped table-hover ">

  <% if @products.any?() %>

    <thead>
      <tr>
        <th>#</th>
        <th>Select</th>
        <th>Name</th>
        <th>Price</th>
      </tr>
    </thead>

    <tbody>

      <% @products.each_with_index() do |product, index| %>
        <tr class = "info">

          <% count = index + 1 %>
          <td><%= count %></td>
          <td>
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="product_ids[]" value="<%= product.id() %>">
                </label>
              </div>

          </td>
          <td><a href="/product/<%= product.id() %>"><%= product.name() %></a></td>
          <td>
            <p>$ <%= "%.2f" % product.price() %></p>
          </td>
        </tr>
      <% end %>
    </tbody>
</table>

  <% else %>
    <h3>You don't have any products yet.</h3>
  <% end %>
<button type="submit">Make Purchase</button>
</form>
